<div class="row">
    <div class="col-sm-6">
        <a href="/platforms/<%= platform._id %>.html" class="btn btn-teal bold">All</a>
        <a href="/platforms/<%= platform._id %>.html?device=desktop" class="btn btn-default bold refreshPage" data-send='{"device": "desktop"}'>
            <i class="fa fa-desktop"></i>&nbsp; Desktop
        </a>
        <a href="/platforms/<%= platform._id %>?device=tablet" class="btn btn-default bold refreshPage" data-send='{"device": "tablet"}'>
            <i class="fa fa-tablet"></i>&nbsp; Tablet
        </a>
        <a href="/platforms/<%= platform._id %>?device=mobile" class="btn btn-default bold refreshPage" data-send='{"device": "mobile"}'>
            <i class="fa fa-mobile"></i>&nbsp; Mobile
        </a>
    </div>
    <div class="col-sm-6">
        <div class="text-right-responsive">
            <form action="" id="dateRangeStats" method="GET">
                <select class="form-control" name="start">
                    <% var d = new Date(); %>
                    <option value="<%- today(d) %>">Today</option>
                    <% d.setDate(d.getDate() - 1) %>
                    <option value="<%- today(d) %>">Yesterday</option>
                    <% d.setDate(d.getDate() - 6) %>
                    <option value="<%- today(d) %>">Last 7 Days</option>

                    <% d = new Date(); d.setMonth((new Date()).getMonth() - 1) %>
                    <option value="<%- today(d) %>" selected="">Last 30 Days</option>
                    <% d = new Date(); d.setMonth((new Date()).getMonth() - 2) %>
                    <option value="<%- today(d) %>">Last 60 Days</option>
                    <% d = new Date(); d.setMonth((new Date()).getMonth() - 3) %>
                    <option value="<%- today(d) %>">Last 90 Days</option>
                </select>
                <% d = new Date(); d.setHours(23, 59, 59, 1000); %>
                <input type="hidden" name="end" value="<%= today(d) %>">
                <button type="submit" class="btn btn-xs btn-primary pull-right">Go</button>
            </form>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> <%= platform.name %> (<%= platform.domain %>)
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="morris-area-chart"></div>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Visitor Stats
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Visitors</th>
                                <th>Allowing</th>
                                <th>Blocking</th>
                                <th>Pageviews</th>
                                <th>Pages / Visit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><%= total.visitors %></td>
                                <td class="text-success"><%= Number((total.allowing / total.pageviews) * 100).toFixed(2) %> %</td>
                                <td class="text-danger"><%= Number((total.blocking / total.pageviews) * 100).toFixed(2) %> %</td>
                                <td><%= total.pageviews %></td>
                                <td><%- (Number(total.pageviews / total.visitors).toFixed(3)) %></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>

    </div>
</div>