Hi <%= user.name %>!!
<br>
Thanks for taking a registering at <%= platform %> <br>

Click on the link below to confirm your registration: <a href="http://<%= domain %>/auth/verify/<%= code %>.html">Verify Now</a>
<br>

Best Wishes, <br>
<%= platform %> Team <br>
http://<%= domain %>